@model ST10303347_CLDV6211POE2024.Models.ViewProductsModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager


@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    <img src="@Model.Image" style=" width: 600px; height: 600px;">

    <h4 class="price">R @Model.Price</h4>
    <h4 class="Category">R @Model.Category</h4>
    <h4class="avail">Availability: @Model.Availability</h4>
    <h4>@Model.Description</h4>




</div>