@model IEnumerable<ST10303347_CLDV6211POE2024.Models.Product>

@{
    ViewData["Title"] = "MyworkPage";
}

<h1>@ViewData["Title"]</h1>


<div style="border: 10px double black; padding: 20px; display:flow-root;">


    <img src="~/css/things/progimg1.jpg" style="  width: 300px; height: 250px;  float: left; margin-right: 20px; border: 5px inset black;
         " />

    <p style="font-size: 30px;">
        I am James khumalo, an artist who has managed to become a cornerstone in the South African  handcraft community.
        I have been working in this industry for over 30 years and have got the chance to collabarate with so many differnt people. This in the community is a hard thing to do.
        Most artist are limited to foot traffic. Thats where i had a dream. A dream of the future.
    </p>

    <img src="~/css/things/progimg2.jpeg" style=" width: 300px; height: 250px; float: right; margin-right: 20px; border: 5px outset black;
         " />


    <p style="font-size: 30px;">What if all of us as artist could share our work online. A place where both buyers and sellers are welcome. It would be easier to run such a business.</p>


    <img src="~/css/things/progimg3.jpg" style="width: 300px; height: 250px; float: left; margin-right: 20px; border: 5px outset black;
         " />

    <p style="font-size: 30px;">
        At khumalo craft we aim to connect great minds. From collectors to artist to suppliers and so much more. This will be the future of our industry.
        A global marketplace for us all to connect.
    </p>

</div>





<div class="allmyProducts" style=" display: flex;
            justify-content: center;
            flex-wrap: wrap;">


@foreach (var product in Model)

{
    
 
    <div style="font-family: Arial, sans-serif; margin: 0; padding: 20px;">
        <img src="@product.ImagePath" style=" width: 300px; height: 300px;" >
            <h2><a asp-controller="Products" asp-action="Details" asp-route-id="@product.productId">@product.Name</a></h2>
           
        <p class="price">R @product.Price</p>
            <p class="Category">R @product.Category</p>
            <p class="avail">Availability: @product.Availability</p>

    </div>


        
}
</div>
@if (!Model.Any())
{
    <p>Currently No Products for Sale Currently</p>
}
